  
<div class="jumbotron">
    <h1 class="display-4">JavaScript App</h1>
    <p class="lead">Aplicacion de JavaScript, BackEnd o Api Rest el cuarl proporcionara de unas rutas que como resultado mostrara json con cada peticion</p>
</div>